// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.topdiv {
 width: 100%;
 position: relative;
 top:auto;
 text-align:center;
 background: #61a9ce;
 font-family:ubuntu;
}

.linkdiv {
 position:absolute;
 width: 100%;
 text-align:center;
 font-family:ubuntu;
 font-size:25px;
}

.contentdiv
{
	padding-top:100px;
	position:relative;
	size:100%;
	display: block; height: 25px; text-align:center; line-height:25px;
}